.App {
  text-align: center;
}

.top-bar {
  position: sticky;
  width: 96%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px;
  height: clamp(48px, 8vw, 64px);
}

.nav {
  text-decoration: none;
  color: black;
}

.material-symbols-outlined {
  font-size: clamp(48px, 8vw, 64px);
}

.box {
  position: absolute;
  top: 12vw;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.upload {
  width: 60%;
  height: 40%;
  background-color: lightgray;
  border-radius: 8px;
  box-shadow: 8px 8px 10px gray;
}

.upload-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-box {
  padding: 4px;
}

.input-opt {
  padding: 36px;
}

#text-inputs {
  padding: 16px;
  max-height: 60%;
  overflow-y: auto;
}

#file-upload {
  width: 100%;
  text-align: center;
}

.input {
  padding: 6vw
}

.name {
  font-size: clamp(32px, 6vw, 48px);
  height: clamp(48px, 8vw, 64px);
}

#hidden-next {
  visibility: hidden;
}

@media only screen and (min-width: 768px) {
  .App {
    background-color: red;
  }
}
